# Tasks completed per wave

In [1]:
import os
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
path = os.getcwd()
parent_dir = Path().resolve().parents[0]
data_dir = os.path.join(parent_dir, 'data', 'task_data')

In [3]:
def longString(ser):
    strs=[]
    strCtr=1
    lval=ser.iloc[0]
    for ind in range(1,ser.shape[0]):
        if ser.iloc[ind]==lval:
            strCtr+=1
        else:
            strs.append(strCtr)
            strCtr=1
            lval=ser.iloc[ind]

    if len(strs)==0:
        strs.append(strCtr)
        
    maxLongStr=np.max(strs)
    meanStrLength=np.mean(strs)
    countLongStr=np.sum(np.array(strs)>5)
    
    out={'maxLongStr':maxLongStr,
           'meanLongString':np.round(meanStrLength,2),
           'countLongStr':countLongStr,
        }
           
    
    return out

In [4]:
# CONSP TASK
consp = pd.read_csv(os.path.join(data_dir, 'CONSP_P_CVDID.csv'))
consp_qual = pd.DataFrame()
consp.CVDID = consp.CVDID.astype('float')

for cvdid in consp.CVDID.unique():
    for w in  consp.loc[consp.CVDID ==cvdid, 'cvd_consp_wave'].unique():
        
        tmp_dat = consp.loc[(consp.CVDID == cvdid)&(consp.cvd_consp_wave == w),:].copy()
        tmp_dat = tmp_dat.dropna(subset='cvd_consp_key_press').reset_index(drop = True)
                    
        sub_dict = {}
        sub_dict['CVDID'] = cvdid
        sub_dict['wave'] = w
        
        # response button press variance 
        consp_long_string = longString(tmp_dat.cvd_consp_key_press)
        sub_dict['cvd_consp_meanLongString'] = consp_long_string['maxLongStr']        
                
        # reaction time
        sub_dict['cvd_consp_rt_pctlt_300']=np.sum(tmp_dat.cvd_consp_rt<300)/tmp_dat.shape[0]
        
        sub_dict['cvd_consp_administered'] = True
        consp_qual = pd.concat([consp_qual,pd.DataFrame.from_dict(sub_dict, orient = 'index').T])

del consp
consp_qual

,CVDID,wave,cvd_consp_meanLongString,cvd_consp_rt_pctlt_300,cvd_consp_administered
0,860.0,17.0,5,0.0,True
0,969.0,17.0,10,0.0,True
0,149.0,17.0,5,0.0,True
0,74.0,17.0,5,0.0,True
0,634.0,17.0,14,0.025,True
...,...,...,...,...,...
0,1014.0,17.0,8,0.0,True
0,42.0,17.0,85,0.005,True
0,374.0,17.0,6,0.005,True
0,1531.0,17.0,10,0.08,True
0,1620.0,17.0,4,0.0,True

In [5]:
#TRUST TASK
tr1 = pd.read_csv(os.path.join(data_dir, 'TR1_P_CVDID.csv'))
tr1_qual = pd.DataFrame()
tr1.CVDID = tr1.CVDID.astype('float')

for cvdid in tr1.CVDID.unique():
    for w in  tr1.loc[tr1.CVDID ==cvdid, 'tr_1s_wave'].unique():
        
        tmp_dat = tr1.loc[(tr1.CVDID == cvdid)&(tr1.tr_1s_wave == w),:].copy().reset_index(drop = True)
                    
        sub_dict = {}
        sub_dict['CVDID'] = cvdid
        sub_dict['wave'] = w
        
        # response button press variance 
        tr1_long_string = longString(tmp_dat.tr_1s_key_press)
        sub_dict['tr_1s_meanLongString'] = tr1_long_string['maxLongStr']        
        if tmp_dat.tr_1s_key_press.var() == 0:
             sub_dict['tr_1s_noVar'] = 1
        else:
             sub_dict['tr_1s_noVar'] = 0  
                
        # reaction time/ task duration
        sub_dict['tr_1s_totalTime'] = tmp_dat.tr_1s_totalTime[0]
        sub_dict['tr_1s_medianRT'] = tmp_dat.tr_1s_rt.median()
        sub_dict['tr_1s_rt_pctlt_300']=np.sum(tmp_dat.tr_1s_rt<300)/tmp_dat.shape[0]
        
        sub_dict['tr_1s_administered'] = True
        tr1_qual = pd.concat([tr1_qual,pd.DataFrame.from_dict(sub_dict, orient = 'index').T])
        
del tr1
tr1_qual

,CVDID,wave,tr_1s_meanLongString,tr_1s_noVar,tr_1s_totalTime,tr_1s_medianRT,tr_1s_rt_pctlt_300,tr_1s_administered
0,1477.0,1.0,10,0,126816.0,1580.0,0.0,True
0,790.0,1.0,3,0,124533.0,1387.0,0.0,True
0,790.0,2.0,4,0,114482.0,1367.5,0.0,True
0,790.0,3.0,6,0,119501.0,1367.0,0.0,True
0,790.0,5.0,7,0,152908.0,1590.5,0.0,True
...,...,...,...,...,...,...,...,...
0,1485.0,11.0,6,0,259745.0,262.5,0.65,True
0,1485.0,13.0,7,0,36527.0,301.5,0.483333,True
0,1485.0,14.0,4,0,125291.0,281.5,0.55,True
0,1485.0,15.0,4,0,59035.0,358.0,0.4,True
0,1485.0,16.0,4,0,138431.0,336.5,0.383333,True

In [6]:
iat = pd.read_csv(os.path.join(data_dir, 'IAT_P_CVDID.csv'))
iat_qual = pd.DataFrame()
iat.CVDID = iat.CVDID.astype('float')


for cvdid in iat.CVDID.unique():
    for w in  iat.loc[iat.CVDID ==cvdid, 'iat_wave'].unique():
        
        tmp_dat = iat.loc[(iat.CVDID == cvdid)&(iat.iat_wave == w),:].copy().reset_index(drop = True)
        
        sub_dict = {}
        sub_dict['CVDID'] = cvdid
        sub_dict['wave'] = w
        
        # reaction time/ task duration
        sub_dict['iat_include'] = (~np.isnan(tmp_dat.iat_iatd[0])).astype(int)
        sub_dict['iat_totalTime'] = tmp_dat.iat_totalTime[0]
        sub_dict['iat_administered'] = True
        iat_qual = pd.concat([iat_qual,pd.DataFrame.from_dict(sub_dict, orient = 'index').T])

del iat
iat_qual

     CVDID wave iat_include iat_totalTime iat_administered
0   1477.0  1.0           1      219308.0             True
0    790.0  1.0           1      308143.0             True
0    790.0  2.0           1      232709.0             True
0    790.0  4.0           1      710324.0             True
0   1640.0  1.0           1      214911.0             True
..     ...  ...         ...           ...              ...
0     60.0  2.0           1      410911.0             True
0     60.0  4.0           1      320956.0             True
0      9.0  2.0           1      195782.0             True
0   1485.0  2.0           1      367515.0             True
0   1485.0  4.0           1      492994.0             True

[3987 rows x 5 columns]

In [7]:
amp = pd.read_csv(os.path.join(data_dir, 'AMP_P_CVDID.csv'))
amp_qual = pd.DataFrame()
amp.CVDID = amp.CVDID.astype('float')


for cvdid in amp.CVDID.unique():
    for w in  amp.loc[amp.CVDID ==cvdid, 'amp_wave'].unique():
        tmp_dat = amp.loc[(amp.CVDID == cvdid)&(amp.amp_wave == w),:].copy().reset_index(drop = True)

        sub_dict = {}
        sub_dict['CVDID'] = cvdid
        sub_dict['wave'] = w
        
        # response button press variance 
        amp_long_string = longString(tmp_dat.amp_key_press)
        sub_dict['amp_meanLongString'] = amp_long_string['maxLongStr']        

        # reaction time/ task duration
        sub_dict['amp_totalTime'] = tmp_dat.amp_totalTime[0]
        sub_dict['amp_medianRT'] = tmp_dat.amp_rt.median()
        sub_dict['amp_pct_bad_rts']= 1 - tmp_dat.amp_prct_usable_trials[0]
        
        sub_dict['amp_administered'] = True
        amp_qual = pd.concat([amp_qual,pd.DataFrame.from_dict(sub_dict, orient = 'index').T])

del amp
amp_qual

,CVDID,wave,amp_meanLongString,amp_totalTime,amp_medianRT,amp_pct_bad_rts,amp_administered
0,1477.0,1,18,241029,649.0,0.0,True
0,790.0,1,8,312540,452.0,0.0,True
0,790.0,2,7,259397,464.0,0.0,True
0,790.0,4,8,238102,474.0,0.0,True
0,790.0,5,7,319083,465.0,0.0,True
...,...,...,...,...,...,...,...
0,9.0,7,37,179270,190.0,0.291667,True
0,1485.0,2,8,218416,237.0,0.177083,True
0,1485.0,4,5,212355,224.0,0.166667,True
0,1485.0,5,10,516805,296.0,0.197917,True
0,1485.0,7,9,225699,157.0,0.28125,True

In [8]:
altt = pd.read_csv(os.path.join(data_dir, 'ATT_P_CVDID.csv'))
altt_qual = pd.DataFrame()
altt.CVDID = altt.CVDID.astype('float')

for cvdid in altt.CVDID.unique():
    for w in  altt.loc[altt.CVDID ==cvdid, 'cvd_altt_wave'].unique():
        tmp_dat = altt.loc[(altt.CVDID == cvdid)&(altt.cvd_altt_wave == w),:].copy().reset_index(drop = True)

        sub_dict = {}
        sub_dict['CVDID'] = cvdid
        sub_dict['wave'] = w
        
        # response button press variance 
        altt_long_string = longString(tmp_dat.cvd_altt_key_press)
        sub_dict['altt_meanLongString'] = altt_long_string['maxLongStr']        

        # reaction time/ task duration
        sub_dict['altt_totalTime'] = tmp_dat.cvd_altt_totalTime[0]
        sub_dict['altt_medianRT'] = tmp_dat.cvd_altt_rt.median()
        sub_dict['altt_rt_pctlt_300']=np.sum(tmp_dat.cvd_altt_rt<300)/tmp_dat.shape[0]

        
        sub_dict['altt_administered'] = True
        altt_qual = pd.concat([altt_qual,pd.DataFrame.from_dict(sub_dict, orient = 'index').T])
        

del altt
altt_qual

,CVDID,wave,altt_meanLongString,altt_totalTime,altt_medianRT,altt_rt_pctlt_300,altt_administered
0,790.0,2,3,326330,1192.5,0.0,True
0,790.0,3,4,208677,1218.5,0.0,True
0,790.0,4,9,253543,1071.5,0.0,True
0,790.0,6,4,169322,1065.0,0.0,True
0,790.0,7,4,146794,1089.5,0.0,True
...,...,...,...,...,...,...,...
0,151.0,12,5,168666,859.5,0.0,True
0,1318.0,12,5,163196,1146.0,0.0,True
0,1735.0,14,5,233267,1854.5,0.0,True
0,1478.0,16,6,286354,1766.0,0.0,True
0,1358.0,16,4,312148,1189.0,0.0,True

In [9]:
biat_raw = pd.read_csv(os.path.join(data_dir, 'BIAT_P_CVDID.csv'))
biat_summary = pd.read_csv(os.path.join(data_dir, 'BIAT_summary_P_CVDID.csv'))
biat_qual = pd.DataFrame()
biat_raw.CVDID = biat_raw.CVDID.astype('float')
biat_summary.CVDID = biat_summary.CVDID.astype('float')

for cvdid in biat_raw.CVDID.unique():
    for w in  biat_raw.loc[biat_raw.CVDID ==cvdid, 'biat_wave'].unique():
        tmp_dat = biat_raw.loc[(biat_raw.CVDID == cvdid)&(biat_raw.biat_wave == w),:].copy().reset_index(drop = True)

        sub_dict = {}
        sub_dict['CVDID'] = cvdid
        sub_dict['wave'] = w
        
        # reaction time/ task duration
        sub_dict['biat_totalTime'] = tmp_dat.biat_totalTime[0]
        sub_dict['biat_include'] =biat_summary.loc[(biat_summary.CVDID ==cvdid) & (biat_summary.biat_wave ==w), 'biat_include'].values[0]
        sub_dict['biat_administered'] = True
        biat_qual = pd.concat([biat_qual,pd.DataFrame.from_dict(sub_dict, orient = 'index').T])
        
del biat_raw, biat_summary

biat_qual

     CVDID wave biat_totalTime biat_include biat_administered
0   1130.0    3       318495.0            3              True
0   1130.0    4       235552.0            3              True
0   1130.0    6       291001.0            3              True
0   1130.0    7       214863.0            3              True
0   1130.0   16       597254.0            3              True
..     ...  ...            ...          ...               ...
0    568.0   13       298843.0            3              True
0    841.0   13       220905.0            3              True
0    841.0   15       183998.0            3              True
0   1407.0   16       327989.0            3              True
0   1478.0   16       419166.0            3              True

[14442 rows x 5 columns]

In [10]:
pgg = pd.read_csv(os.path.join(data_dir, 'PGG_P_CVDID.csv'))
pgg['pgg_administered'] = True
pgg = pgg.rename(columns = {'pgg_wave': 'wave'})
pgg_qual = pgg[['CVDID', 'wave', 'pgg_administered']].copy()
pgg_qual

        CVDID  wave  pgg_administered
0      1352.0   1.0              True
1       745.0   1.0              True
2      1754.0   1.0              True
3      1130.0   1.0              True
4       209.0   1.0              True
...       ...   ...               ...
17108   666.0  16.0              True
17109  1370.0  16.0              True
17110    73.0  16.0              True
17111  1492.0  16.0              True
17112  1641.0  16.0              True

[17113 rows x 3 columns]

In [11]:
task_qual = altt_qual.merge(tr1_qual, on=['CVDID','wave'], how = 'outer').reset_index(drop = True)
task_qual = task_qual.merge(amp_qual, on=['CVDID','wave'], how = 'outer').reset_index(drop = True)
task_qual = task_qual.merge(iat_qual, on=['CVDID','wave'], how = 'outer').reset_index(drop = True)                             
task_qual = task_qual.merge(biat_qual, on=['CVDID','wave'], how = 'outer').reset_index(drop = True)                             
task_qual = task_qual.merge(consp_qual, on=['CVDID','wave'], how = 'outer').reset_index(drop = True)                             
task_qual = task_qual.merge(pgg_qual, on=['CVDID','wave'], how = 'outer').reset_index(drop = True)            
task_qual.to_csv(os.path.join(data_dir, 'task_qual.csv'), index = False)

/Users/tessarusch/opt/anaconda3/envs/CVD-datapaper/lib/python3.9/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
/Users/tessarusch/opt/anaconda3/envs/CVD-datapaper/lib/python3.9/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
/Users/tessarusch/opt/anaconda3/envs/CVD-datapaper/lib/python3.9/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
/Users/tessarusch/opt/anaconda3/envs/CVD-datapaper/lib/python3.9/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
/Users/tessarusch/opt/anaconda3/envs/CVD-datapaper/lib/python3.9/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
/Users/tessarusch/opt/anaconda3/envs/CVD-datapaper/lib/python3.9/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)