In [4]:
import pandas as pd
import numpy as np
import os

# load data

In [63]:
# data path 
path_ext_data = os.path.expanduser(os.path.join('~','Library','CloudStorage','Box-Box', 'COVID-19 Adolphs Lab', 'core_analysis', 'raw_data'))

# case and dath data
county_cases_deaths = pd.read_csv(os.path.join(path_ext_data,'refined_us_daily_cases_deaths_by_county.csv'))
state_cases_deaths = pd.read_csv(os.path.join(path_ext_data , 'refined_us_daily_cases_deaths_by_state.csv'))

# labour statistics
county_labour = pd.read_csv(os.path.join(path_ext_data, 'refined_labor_data_by_county.csv'))
#county_labour = pd.read_csv(path_ext_data + 'refined_labor_data_by_state.csv')

# restriction data
county_bar_closure = pd.read_csv(os.path.join(path_ext_data,'refined_bar_closure_data_county.csv'))
county_gather_ban = pd.read_csv(os.path.join(path_ext_data , 'refined_gathering_ban_data_county.csv'))
county_general_closure = pd.read_csv(os.path.join(path_ext_data , 'refined_general_closure_data_county.csv'))
county_mask_mandate = pd.read_csv(os.path.join(path_ext_data ,'refined_mask_mandate_data_county.csv'))
county_restaurant_closure = pd.read_csv(os.path.join(path_ext_data ,'refined_restaurant_closure_data_county.csv'))
county_stay_at_home = pd.read_csv(os.path.join(path_ext_data , 'refined_stay_at_home_order_data_county.csv'))

county_bar_closure = pd.read_csv(os.path.join(path_ext_data , 'refined_bar_closure_data_state.csv'))
county_gather_ban = pd.read_csv(os.path.join(path_ext_data , 'refined_gathering_ban_data_state.csv'))
county_general_closure = pd.read_csv(os.path.join(path_ext_data , 'refined_general_closure_data_state.csv'))
county_mask_mandate = pd.read_csv(os.path.join(path_ext_data , 'refined_mask_mandate_data_state.csv'))
county_restaurant_closure = pd.read_csv(os.path.join(path_ext_data , 'refined_restaurant_closure_data_state.csv'))
county_stay_at_home = pd.read_csv(os.path.join(path_ext_data , 'refined_stay_at_home_order_data_state.csv'))

# dates for each wave -7 and +1 days, i.e. Sat(pre wave) to Mon (post wave)
wave_dates = pd.read_csv(os.path.join(path_ext_data ,'wave_to_week.csv'))
wave_dates = wave_dates.set_index('wave', drop = True)
max_date = pd.to_datetime(wave_dates.loc[16, 'Date'])

In [64]:
max_date

Timestamp('2021-01-23 00:00:00')

# wave-by-wave covid numbers

In [65]:
for w in wave_dates.index:
    county_cases_deaths.loc[county_cases_deaths.date == wave_dates.loc[w,'Date'], 'wave'] = w
    state_cases_deaths.loc[state_cases_deaths.date == wave_dates.loc[w,'Date'], 'wave'] = w
    
    county_bar_closure.loc[county_bar_closure.date == wave_dates.loc[w,'Date'], 'wave'] = w
    county_gather_ban.loc[county_bar_closure.date == wave_dates.loc[w,'Date'], 'wave'] = w
    county_general_closure.loc[county_general_closure.date == wave_dates.loc[w,'Date'], 'wave'] = w
    county_mask_mandate.loc[county_mask_mandate.date == wave_dates.loc[w,'Date'], 'wave'] = w
    county_restaurant_closure.loc[county_restaurant_closure.date == wave_dates.loc[w,'Date'], 'wave'] = w
    county_stay_at_home.loc[county_stay_at_home.date == wave_dates.loc[w,'Date'], 'wave'] = w
    
county_cases_deaths.date = pd.to_datetime(county_cases_deaths.date)
state_cases_deaths.date = pd.to_datetime(state_cases_deaths.date)
county_bar_closure.date = pd.to_datetime(county_bar_closure.date)
county_gather_ban.date = pd.to_datetime(county_gather_ban.date)
county_general_closure.date = pd.to_datetime(county_general_closure.date)
county_mask_mandate.date = pd.to_datetime(county_mask_mandate.date)
county_restaurant_closure.date = pd.to_datetime(county_restaurant_closure.date)
county_stay_at_home.date = pd.to_datetime(county_stay_at_home.date)

In [72]:
county_stay_at_home.date.max()

Timestamp('2020-12-31 00:00:00')

In [62]:
county_cases_deaths.date = pd.to_datetime(county_cases_deaths.date)
county_cases_deaths['county_state'] = county_cases_deaths['county'] + county_cases_deaths['state']
county_cases_deaths.sort_values(by=['county_state', 'date'])

,date,county,state,daily_cases,seven_day_case_avg,daily_case_avg_per_100k,daily_deaths,seven_day_death_avg,daily_death_avg_per_100k,wave,county_state
4565,2020-03-19,Abbeville,South Carolina,1,0.14,0.58,0,0.0,0.0,NaN,AbbevilleSouth Carolina
5374,2020-03-20,Abbeville,South Carolina,0,0.14,0.58,0,0.0,0.0,NaN,AbbevilleSouth Carolina
6320,2020-03-21,Abbeville,South Carolina,0,0.14,0.58,0,0.0,0.0,NaN,AbbevilleSouth Carolina
7372,2020-03-22,Abbeville,South Carolina,0,0.14,0.58,0,0.0,0.0,NaN,AbbevilleSouth Carolina
8525,2020-03-23,Abbeville,South Carolina,0,0.14,0.58,0,0.0,0.0,NaN,AbbevilleSouth Carolina
...,...,...,...,...,...,...,...,...,...,...,...
1506040,2021-07-10,Ziebach,South Dakota,0,0.00,0.00,0,0.0,0.0,NaN,ZiebachSouth Dakota
1509286,2021-07-11,Ziebach,South Dakota,0,0.00,0.00,0,0.0,0.0,NaN,ZiebachSouth Dakota
1512532,2021-07-12,Ziebach,South Dakota,0,0.00,0.00,0,0.0,0.0,NaN,ZiebachSouth Dakota
1515777,2021-07-13,Ziebach,South Dakota,0,0.00,0.00,0,0.0,0.0,NaN,ZiebachSouth Dakota
1519022,2021-07-14,Ziebach,South Dakota,1,0.14,5.18,0,0.0,0.0,NaN,ZiebachSouth Dakota

In [ ]:
for w in wave_dates.index:
    county_cases_deaths.loc[county_cases_deaths.date.isin(list(wave_dates.loc[w,:])), 'wave'] = w

# select data: 7 days preceding each wave
tmp_df = pd.melt(wave_dates.iloc[:,1:-3])
pre_wave_dates = list(tmp_df['value'])


county_cases_deaths = county_cases_deaths.loc[county_cases_deaths.date.isin(pre_wave_dates),:]
# drop Puerto Rico, Virgin Islands, Northern Mariana Islands, and Guam
county_cases_deaths = county_cases_deaths.loc[~county_cases_deaths.state.isin(['Puerto Rico',
                                                                            'Virgin Islands',
                                                                            'Northern Mariana Islands',
                                                                            'Guam']),:]
# wave-by-wave average
wave_county_cases_deaths = pd.DataFrame(county_cases_deaths.groupby(['county', 'state', 'wave']).mean()).reset_index()
wave_county_cases_deaths

,date,county,state,daily_cases,seven_day_case_avg,daily_case_avg_per_100k,daily_deaths,seven_day_death_avg,daily_death_avg_per_100k,wave
0,2020-01-21,Snohomish,Washington,1,0.14,0.02,0,0.0,0.0,NaN
1,2020-01-22,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0,NaN
2,2020-01-23,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0,NaN
3,2020-01-24,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0,NaN
4,2020-01-24,Cook,Illinois,1,0.14,0.00,0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
1521466,2021-07-14,Tinian,Northern Mariana Islands,0,0.00,0.00,0,0.0,0.0,NaN
1521467,2021-07-14,Saipan,Northern Mariana Islands,0,0.00,0.00,0,0.0,0.0,NaN
1521468,2021-07-14,St. Thomas,Virgin Islands,0,4.86,9.41,0,0.0,0.0,NaN
1521469,2021-07-14,St. John,Virgin Islands,0,0.00,0.00,0,0.0,0.0,NaN
1521470,2021-07-14,St. Croix,Virgin Islands,0,5.57,11.01,0,0.0,0.0,NaN

# month-by-month labour statistics

In [14]:
# drop Puerto Rico
county_labour = county_labour.loc[~county_labour.state.isin(['Puerto Rico']),:]

# labour data is only published on a monthly basis --> we define the month of the Saturday
# preceding a wave as the month preceding a wave
pre_wave_month = list(wave_dates['SAT-7'].str.split('-'))
pre_wave_month  = pd.DataFrame(pre_wave_month, columns = ['year', 'month', 'day'])
pre_wave_month = pre_wave_month.set_index(wave_dates.index, drop = True)

county_labour_wave = pd.DataFrame()
for w in pre_wave_month.index:
    wave_month = pre_wave_month.loc[w,'year'] + '-' + pre_wave_month.loc[w,'month']
    tmp_labour = county_labour.loc[county_labour.date == wave_month, :].copy()
    tmp_labour['wave'] = w
    county_labour_wave= county_labour_wave.append(tmp_labour)
county_labour_wave.reset_index(drop = True, inplace= True)

# restrictions

In [ ]:
county_bar_closure = county_bar_closure.loc[~county_bar_closure.state.isin(['Puerto Rico']),:]
county_gather_ban = county_gather_ban.loc[~county_gather_ban.state.isin(['Puerto Rico']),:]
county_general_closure = county_general_closure.loc[~county_general_closure.state.isin(['Puerto Rico']),:]
county_mask_mandate = county_mask_mandate.loc[~county_mask_mandate.state.isin(['Puerto Rico']),:]
county_restaurant_closure = county_restaurant_closure.loc[~county_restaurant_closure.state.isin(['Puerto Rico']),:]
county_stay_at_home = county_stay_at_home.loc[~county_stay_at_home.state.isin(['Puerto Rico']),:]

for w in wave_dates.index:
    county_bar_closure.loc[county_bar_closure.date.isin(list(wave_dates.loc[w,:])), 'wave'] = w
    county_gather_ban.loc[county_gather_ban.date.isin(list(wave_dates.loc[w,:])), 'wave'] = w
    county_general_closure.loc[county_general_closure.date.isin(list(wave_dates.loc[w,:])), 'wave'] = w
    county_mask_mandate.loc[county_mask_mandate.date.isin(list(wave_dates.loc[w,:])), 'wave'] = w
    county_restaurant_closure.loc[county_restaurant_closure.date.isin(list(wave_dates.loc[w,:])), 'wave'] = w
    county_stay_at_home.loc[county_stay_at_home.date.isin(list(wave_dates.loc[w,:])), 'wave'] = w
     
county_bar_closure = county_bar_closure.loc[county_bar_closure.date.isin(wave_dates['MON-5'].values),:]
county_gather_ban = county_gather_ban.loc[county_gather_ban.date.isin(wave_dates['MON-5'].values),:]
county_general_closure = county_general_closure.loc[county_general_closure.date.isin(wave_dates['MON-5'].values),:]
county_mask_mandate = county_mask_mandate.loc[county_mask_mandate.date.isin(wave_dates['MON-5'].values),:]
county_restaurant_closure = county_restaurant_closure.loc[county_restaurant_closure.date.isin(wave_dates['MON-5'].values),:]
county_stay_at_home = county_stay_at_home.loc[county_stay_at_home.date.isin(wave_dates['FRI-1'].values),:]

In [ ]:
wave_dates